.Key {
  width: 2em;
  height: 2em;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  line-height: 1.9em;
  float: left;
  cursor: pointer;
}

.Key:nth-child(4n + 4) {
  border-right: none;
}

.Key:nth-last-of-type(-n + 4) {
  border-bottom: none;
}

.Key:hover {
  background-color: rgba(255, 255, 255, 0.3);
  transition: background-color 0.2s;
}

.Key i {
  font-size: 0.8em;
}
